/* UNIVERSAL */
* {
    margin: 20px 20px;
}

/* BANNER STYLE */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 150px 300px 200px 300px;
}

.banner-little {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}   

.banner-big {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 52px;
    font-weight: 700;
    padding-top: 0;
}


/* MAIN SEECTION STYLE */

/* 65% OFF */
.off h3,
h4,
h6 {
    text-align: center;
}

.off>h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 68px;
    font-weight: 600;
}

.off>h6 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.off h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.off img {
    width: 500px;
    padding: 0px 300px;
}


/* MIDNIGHT PARTY STYLE */
.party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: contain;
    display: flex;
    padding: 50px 80px 50px 80px;
    margin-top: 50px;
}

.party h5 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 6.04px;
}

.party p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.party button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    border: 0;
    padding: 5px;
}

.party img {
    width: 250px;
}


/*  OFFER STYLE */
.offer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    background: #FFF;
    width: 1220px;
    margin: 0;
}

.offer > .sec1  h6, h4, p {
    text-align: left;
}

.offer> .sec1 > h6 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.sec1 h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.offer > .sec1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    width: 300px;
}


.sec2 img {
    width: 200px;
    border: 8px solid red;
    border-radius: 364.844px;
    padding: 15px;
}

.offer .sec3>h6,
p {
    text-align: left;
}
.sec3>h6 {
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}
.sec3 img{  
    height: 80px;
}
.offer .sec3 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    width: 205px;
}



/* PORTFOLIO STYLE */
.portfolio {
    margin-top: 60px;
    margin-left: 7px;
}

.portfolio>h6 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.portfolio h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
}

.portfolio p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 17px;
    padding-right: 100px;
    font-weight: 400;
    padding-right: 404px;
}

.portfolio img {
    width: 300px;
    border-radius: 16px;
    margin: 0px 10px 90px 0px;
    border: 5px solid transparent;
}
.portfolio img:hover{
    border-color:tomato;
}

.portfolio .column2 {
    display: flex;
    justify-content: space-between;

}
.portfolio .row2{
    display: flex;
    justify-content: space-between;
}



/* SUBSCRIPTION STYLE */
.subscription {
    /* margin-top: 10px; */
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 30px;
}

.subscription img {
    padding: 40px 520px 0px 520px;
    width: 100px;
}

.subscription h3 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscription p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    padding: 0px 200px 0px 200px;
}

label {
    /* position: relative; */
    padding-left: 350px;

}

label input {
    border-radius: 50px;
    background: #FFF;
    padding: 10px;
    border: 0;
    width: 400px;
}

label button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 10px;
    border: 0;
    margin-left: -103px;

}


/*  FOOTER STYLE */
.footer {
    background: #070211;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 5px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 0px;
}

.footer .head1,
.head2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
}

.footer .head1 {
    padding-right: 230px;
    line-height: 200%;
}

.footer .head2 {
    padding-right: 70px;
    top: 0;
    
}
.footer .head2 .imgp{
    display: flex;
    padding: 0 ;
    margin: 0;

}
.footer .head2 p{
    margin-left: -5px;
}

.footer .footer-icon img {
    width: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-icon {
    margin-left: 370px;
    margin-right: 370px;
}

.footer-foot {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 55px;
    margin-right: 55px;
    padding: 0;
}